table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95vw;
  margin: 5rem 2vw;
}

td,
th {
  border: 1px solid #9db2bf;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #9db2bf;
}
tr:nth-child(odd) {
  background-color: #dde6ed;
}
