.card {
  height: 10rem;
  max-width: 250px;
  background: #dde6ed;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* color: white; */
}
.airlines-logo {
  display: flex;
  justify-content: center;
}
.airlines-logo img {
  width: 90%;
}

.card-head {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.card-body {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  color: #27374d;
}

.card-body::before {
  content: "$ ";
}
